.container-countdown {

}

.countdown-box {
text-align: center;
vertical-align: center;
margin-left: 25%;
margin-right: 25%;
margin-top: 40%;
margin-bottom: 25%;
}

.timer-box {
margin-top: 25%;
margin-bottom: 25%;
font-size: 200%;
}