.container-quote {
}

.container-loading {
  text-align: center;
}

figure {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  border-radius: 3px;
  margin: 0 0 20px;
  box-shadow: 0 5px 5px -3px black;
}

blockquote {
  font: arial;
}

em {
  font: arial black;
}

figcaption {
  font: geneva;
  text-align: center;
}

.author {
  font-weight: bold;
  font-style: italic;
}

@media (max-width: 620px) {
  figure {
    padding: 15px 10px;
  }
}
